[stalwart]
api_uri: http://mail-server:8080/api

# Basic Auth
auth: basic
user: admin
password: password

# API Key Auth
#auth: api_key
#api_key: api_bWFpbG1hbjpGVlNSUmFLdkIyVHhhbU5HSDFPZDVLRzlKcHlHaGs=
